@import '/breakpoints';

.logo{
    display: flex;
    cursor: pointer;
    width: 50%; 
    height: auto;
    @include md {
       display: none;
    }
    p{
        margin: 0px;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    .link {
        color: white;
        text-decoration: none;
    }
    .name{
        display: flex;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 15px;
        width: 30%;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        p{
            position: relative;
            transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            &:nth-of-type(2){
                padding-left: 0.3em;
            }
            &:nth-of-type(3){ 
                position: absolute;
                left: 100%;
                padding-left: 0.6em;
            }
        }
    }
    &:hover{
        .copyright{
            transform: rotate(360deg);
        }
        .link {
            color: white;
        }
        .name{
            padding-right: 30px;
            .codeBy{
                transform: translateX(-100%);
            }
            .ahmed{
                transform: translateX(-173%);
            }
            .boulakhras{
                transform: translateX(-117%);
            }
        }
    }
}